<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
    <form action="/signup" method="POST">
        signup page
        id<input type="text" name="s_id" style="margin-left: 10px"><br>
        password<input type="password" name="s_pw" style="margin-left: 10px"><br>
        name<input type="text" name="s_name" style="margin-left: 10px"><br>
        email<input type="email" name="s_email" style="margin-left: 10px"><br>
        address<input type="text" name="s_address" size="15" style="margin-left: 10px"><br>
        mobile<input type="test" name="s_mobile" style="margin-left: 10px"><br>
        birth<input type="date" name="s_birth" style="margin-left: 10px"><br>
        <button type="button" onclick="location.href='./login.html'">cancel</button>
        <button type="submit">signup</button>
</form>
</body>
</html>