<!DOCTYPE html>
<html>
    <head>
        <style> 
        </style>
    </head>
    <title>LOGIN PAGE</title>
<meta charset="utf-a">
    
    <body>
         <form method = 'POST' action="/logincheck" style="float:left" >
             
             <font face="헤드라인M" size=10em><strong>LOGIN</strong></font><br><br>
             <font>ID &nbsp;&emsp;&nbsp;&nbsp;&nbsp;
         <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-default" placeholder="ID" name="id">
             
        <br>
            Passwd&nbsp;
             <input type="password" class="form-control" aria-label="LArge" aria-describedby="inputGroup-sizing-default" placeholder="password`" name="pw">
             </font><br><br>
             
  <button type="submit" class="btn btn-primary" >Login</button>&nbsp;
  <button type="button" class="btn btn-primary" onclick="location.href = './signup'">Sign up</button>
        </form>
    </body>
</html>


