<!DOCTYPE html>
<html>
    <head><style></style></head>
    
    <title></title>
    
    <body>
        
        <form method = 'POST' action="/signcheck" style="text-align: left"> 
          
                <p><font face="헤드라인M" size=7em>
                Sign Up</font></p>
            <table border="1" width="570" height="400">
                <tbody >
                <tr><td>ID</td><td><input type = "text" placeholder="id" name="id"> (Only English or number, 0~16 words)</td></tr>
                <tr><td>Password</td><td><input type = "password"  placeholder="passwd" name="pw">(Only English or number, 0~20 words)</td></tr>
                <tr><td>Passoword again</td><td><input type = "password"  placeholder="again passwd"></td></tr>
                <tr><td>Name</td><td><input type = "text" placeholder="name" name="name"></td></tr>
                <tr><td>email</td><td><input type="text" name="email" placeholder="sejj0126@naver.com"></td></tr>
                </tbody>
          </table><br>
                <button type="submit" class="btn btn-primary" value="OK" style="float: left" >OK</button>
                <button  type="button" class="btn btn-primary" style="float: left">Cancel</button>
      

             </form>
    </body>
</html>


