<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>signup</title>

</head>

<body>
    <form name="signup_form" action="/signup_process" method="POST" onsubmit="return blankCheck();">
        signup page id
        <input type="text" name="id" id="id" style="margin-left: 10px">
        <button type="">check</button>
        <br> password
        <input type="password" name="pw" id="pw" style="margin-left: 10px">
        <br> name
        <input type="text" name="name" id="name" style="margin-left: 10px">
        <br> email
        <input type="email" name="email" style="margin-left: 10px">
        <br> address
        <input type="text" name="address" size="15" style="margin-left: 10px">
        <br> mobile
        <input type="test" name="mobile" style="margin-left: 10px">
        <br> birth
        <input type="date" name="birth" style="margin-left: 10px">
        <br>
        <button type="button" onclick="location.href='/'">cancel</button>
       <button type="submit">signup</button>
    </form>
</body>

<script type="text/javascript">
    function blankCheck() {
        var signup_form=document.forms['signup_form'];
        if(signup_form[id].value =="" || signup_form[pw].value =="" || signup_form[name].value =="" ){
            alert('Please, check the blank');
            return false;
        }
        else{
            return true;
        }
    }
</script>
</html>