<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Join</title>
  </head>
  <body>
    <h1>Input something in the input box:</h1>
    <form method = "post">
      id : <input type ="text" name="id" /><br />
      Nickname : <input type ="text" name="Nickname" /><br />
      password : <input type ="password" name="password" /><br />
      email : <input type ="text" name="Email" /><br />
      phone number : <input type ="text" name="phonenumber" /><br />
    <input type="submit" />
    </form>
  </body>
</html>

